<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1.0/policyconfig.dtd">
<policyconfig>

  <vendor>YaST Webservice Project</vendor>
  <vendor_url>http://en.opensuse.org/YAST</vendor_url>

<!--
Rights for services
-->

  <action id="org.opensuse.yast.services.read">
    <description>Reading service settings</description>
    <message>Authentication is required to read service settings</message>
    <defaults>
      <allow_inactive>no</allow_inactive>
      <allow_active>no</allow_active>
    </defaults>
  </action>
  <action id="org.opensuse.yast.services.write">
    <description>Writing service settings; Starting/Stoping services</description>
    <message>Authentication is required to run services and set the parameters</message>
    <defaults>
      <allow_inactive>no</allow_inactive>
      <allow_active>no</allow_active>
    </defaults>
  </action>
  <action id="org.opensuse.yast.services.execute">
    <description>Starting/stopping/... services</description>
    <message>Authentication is required to handle services</message>
    <defaults>
      <allow_inactive>no</allow_inactive>
      <allow_active>no</allow_active>
    </defaults>
  </action>
  <action id="org.opensuse.yast.services.execute-commands">
    <description>Starting/stopping/... services</description>
    <message>Authentication is required to handle services</message>
    <defaults>
      <allow_inactive>no</allow_inactive>
      <allow_active>no</allow_active>
    </defaults>
  </action>
  <action id="org.opensuse.yast.services.execute-commands-ntp">
    <description>Starting/stopping/... NTP service</description>
    <message>Authentication is required to handle the NTP service</message>
    <defaults>
      <allow_inactive>no</allow_inactive>
      <allow_active>no</allow_active>
    </defaults>
  </action>
  <action id="org.opensuse.yast.services.execute-commands-cron">
    <description>Starting/stopping/... cron service</description>
    <message>Authentication is required to handle the cron service</message>
    <defaults>
      <allow_inactive>no</allow_inactive>
      <allow_active>no</allow_active>
    </defaults>
  </action>
  <action id="org.opensuse.yast.services.execute-commands-cups">
    <description>Starting/stopping/... cupy service</description>
    <message>Authentication is required to handle the cups service</message>
    <defaults>
      <allow_inactive>no</allow_inactive>
      <allow_active>no</allow_active>
    </defaults>
  </action>
  <action id="org.opensuse.yast.services.execute-commands-gpm">
    <description>Starting/stopping/... gpm service</description>
    <message>Authentication is required to handle the gpm service</message>
    <defaults>
      <allow_inactive>no</allow_inactive>
      <allow_active>no</allow_active>
    </defaults>
  </action>
  <action id="org.opensuse.yast.services.execute-commands-random">
    <description>Starting/stopping/... random service</description>
    <message>Authentication is required to handle the random service</message>
    <defaults>
      <allow_inactive>no</allow_inactive>
      <allow_active>no</allow_active>
    </defaults>
  </action>
  <action id="org.opensuse.yast.services.execute-commands-smbfs">
    <description>Starting/stopping/... smbfs service</description>
    <message>Authentication is required to handle the smbfs service</message>
    <defaults>
      <allow_inactive>no</allow_inactive>
      <allow_active>no</allow_active>
    </defaults>
  </action>
  <action id="org.opensuse.yast.services.execute-commands-sshd">
    <description>Starting/stopping/... sshd service</description>
    <message>Authentication is required to handle the sshd service</message>
    <defaults>
      <allow_inactive>no</allow_inactive>
      <allow_active>no</allow_active>
    </defaults>
  </action>
  <action id="org.opensuse.yast.services.read-config">
    <description>Reading available service settings</description>
    <message>Authentication is required to read available service settings</message>
    <defaults>
      <allow_inactive>no</allow_inactive>
      <allow_active>no</allow_active>
    </defaults>
  </action>
  <action id="org.opensuse.yast.services.write-config">
    <description>Writing service settings</description>
    <message>Authentication is required to write service settings</message>
    <defaults>
      <allow_inactive>no</allow_inactive>
      <allow_active>no</allow_active>
    </defaults>
  </action>
  <action id="org.opensuse.yast.services.read-config-ntp">
    <description>Reading available NTP service settings</description>
    <message>Authentication is required to read available NTP service settings</message>
    <defaults>
      <allow_inactive>no</allow_inactive>
      <allow_active>no</allow_active>
    </defaults>
  </action>
  <action id="org.opensuse.yast.services.write-config-ntp">
    <description>Writing NTP service settings</description>
    <message>Authentication is required to write NTP service settings</message>
    <defaults>
      <allow_inactive>no</allow_inactive>
      <allow_active>no</allow_active>
    </defaults>
  </action>
  <action id="org.opensuse.yast.services.read-config-ntp-enabled">
    <description>Reading available NTP service setting (enabled)</description>
    <message>Authentication is required to read available NTP service setting</message>
    <defaults>
      <allow_inactive>no</allow_inactive>
      <allow_active>no</allow_active>
    </defaults>
  </action>
  <action id="org.opensuse.yast.services.write-config-ntp-enabled">
    <description>Writing NTP service setting (enabled)</description>
    <message>Authentication is required to write NTP service setting</message>
    <defaults>
      <allow_inactive>no</allow_inactive>
      <allow_active>no</allow_active>
    </defaults>
  </action>
  <action id="org.opensuse.yast.services.read-config-ntp-manualserver">
    <description>Reading available NTP service setting (manual_server)</description>
    <message>Authentication is required to read available NTP service setting</message>
    <defaults>
      <allow_inactive>no</allow_inactive>
      <allow_active>no</allow_active>
    </defaults>
  </action>
  <action id="org.opensuse.yast.services.write-config-ntp-manualserver">
    <description>Writing NTP service setting (manual_server)</description>
    <message>Authentication is required to write NTP service setting</message>
    <defaults>
      <allow_inactive>no</allow_inactive>
      <allow_active>no</allow_active>
    </defaults>
  </action>
  <action id="org.opensuse.yast.services.read-config-ntp-userandomserverw">
    <description>Reading available NTP service setting (use_random_server)</description>
    <message>Authentication is required to read available NTP service setting</message>
    <defaults>
      <allow_inactive>no</allow_inactive>
      <allow_active>no</allow_active>
    </defaults>
  </action>
  <action id="org.opensuse.yast.services.write-config-ntp-userandomserverw">
    <description>Writing NTP service setting (userandomserverw)</description>
    <message>Authentication is required to write NTP service setting</message>
    <defaults>
      <allow_inactive>no</allow_inactive>
      <allow_active>no</allow_active>
    </defaults>
  </action>

</policyconfig>