<h1>YaST-webservice REST Interface</h1>

<h2>General</h2>

<p>Yast2-webservice provides an interface to the YaST environment of the
concerning host machine. This service is running with an installed
webserver (e.g. lighthttp) and provides an API which is based on
the REST (Representational state transfer) architecture.
Please have a look to 

<p><a href="http://en.wikipedia.org/wiki/Representational_State_Transfer">http://en.wikipedia.org/wiki/Representational_State_Transfer</a>
<p>for more information about REST.

<h2>Available Modules</h2>

<table>
<% for l in @links %>
    <% xmlPath = "/" + l.path + ".xml" %>
    <tr>
    <td><%= link_to xmlPath, xmlPath %></td>
    <td><%=h l.description %></td>
    </tr>
<% end %>
</table>

<h2>Documentation</h2>

<a href="doc_config.html">Configuration</a><br />
<a href="doc_interface.html">API documentation</a><br />



