<h1>YaST as a Service</h1>

<h2><%= link_to "install patches", :controller => 'patch_updates' -%></h2>
<br>
<h2><%= link_to "YaST Modules", :controller => 'yast_modules' -%></h2>
<br>
<br>
<h2><%= link_to "logout", logout_url -%></h2>


