



<div id="eula" class="plugin-content plugin-border webyast_form">
  <div class="plugin-header">
    <div class="left">
      <label class="plugin-icon-container"><img class="plugin-icon" src="/icons/registration.png"></label>
      <label class="plugin-name"><%=_("Accept End User Licence Agreement")-%></label>
    </div>
    <div class="clearfix"></div>
  </div>

  <br>
  
  <fieldset class="webyast_fieldset"">
    <div class="fieldset_body eula_fieldset_body">
      <h3>
        <img src="/images/checkmark.gif" style="margin-left:5px; vertical-align:middle;"/>
        <%= _("All licenses have already been accepted") %>!
      </h3>
    </div>
  <fieldset>
  
  <div class="clearfix"></div>

  <div class="button_container">
    <div class="hr">&nbsp;</div>
    <div class="nav-buttons">
      <a href="/controlpanel" class="button">OK</a>
    </div>
  </div>
</div>
