*~
*.bak
plugins/status/config/status_limits.yaml
coverage
plugins/*/package/www.tar.bz2
pot
/plugins/activedirectory/nbproject/private/
/plugins/administrator/nbproject/private/
/plugins/eulas/nbproject/private/
/plugins/example_plugin/nbproject/private/
/plugins/firewall/nbproject/private/
/plugins/kerberos/nbproject/private/
/plugins/ldap/nbproject/private/
/plugins/mailsetting/nbproject/private/
/plugins/network/nbproject/private/
/plugins/ntp/nbproject/private/
/plugins/registration/nbproject/private/
/plugins/roles/nbproject/private/
/plugins/services/nbproject/private/
/plugins/slms/nbproject/private/
/plugins/software/nbproject/private/
/plugins/status/nbproject/private/
/plugins/system/nbproject/private/
/plugins/terminal/nbproject/private/
/plugins/time/nbproject/private/
/plugins/users/nbproject/private/

/webyast-tasks/nbproject/private/
/ruby-polkit1/nbproject/private/