<html>
<head>
  <title> Generated WebYaST documentation</title>
</head>
<body>
  <h2>Framework documentation</h2>
  <div>
    <a href="./webyast/index.html"> WebYaST framework </a>
  </div>
  <h2> Plugins documentation </h2>
  <div>
  %%PLUGINS%%
  </div>

</body>
</html>
