<h1><%= @node -%> resources</h1>
<% @resources.each do |interface,implementations|
     implementations.each do |implementation|
       action = (implementation[:singular] ? :show : :index)
       controller = implementation[:controller] -%>
   <%= link_to :controller => controller, :action => action -%><br/>
<%   end
   end -%>
