<% name = @service.name -%>
<h3><%= name -%> with <%= @service.functions.size -%> functions</h3>
<% @service.functions.each do |f| -%>
<%= link_to "#{name}/#{f}", :action => name, :id => f %><br/>
<% end -%>
