<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1.0/policyconfig.dtd">
<policyconfig>

  <vendor>YaST Webservice Project</vendor>
  <vendor_url>http://en.opensuse.org/YAST</vendor_url>

<!--
Rights for YaST command line interface
-->

  <action id="org.opensuse.yast.commandline.read">
    <description>Reading parameters of ALL YaST modules</description>
    <message>Authentication is required to read YaST module parameters</message>
    <defaults>
      <allow_inactive>no</allow_inactive>
      <allow_active>no</allow_active>
    </defaults>
  </action>
  <action id="org.opensuse.yast.commandline.execute">
    <description>Permission to run ALL YaST modules</description>
    <message>Authentication is required to run ALL YaST modules</message>
    <defaults>
      <allow_inactive>no</allow_inactive>
      <allow_active>no</allow_active>
    </defaults>
  </action>


</policyconfig>