<!--
# Webyast framework
#
# Copyright (C) 2009, 2010 Novell, Inc. 
#   This library is free software; you can redistribute it and/or modify
# it only under the terms of version 2.1 of the GNU Lesser General Public
# License as published by the Free Software Foundation. 
#
#   This library is distributed in the hope that it will be useful, but WITHOUT
# ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
# FOR A PARTICULAR PURPOSE. See the GNU Lesser General Public License for more 
# details. 
#
#   You should have received a copy of the GNU Lesser General Public
# License along with this library; if not, write to the Free Software 
# Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA
-->
<h1>WebYaST REST Interface</h1>

<h2>General</h2>

<p>WebYaST provides an interface to the YaST environment of the
concerning host machine. This service is running with an installed
webserver (e.g. lighthttp) and provides an API which is based on
the REST (Representational state transfer) architecture.
Please have a look to 

<p><a href="http://en.wikipedia.org/wiki/Representational_State_Transfer">http://en.wikipedia.org/wiki/Representational_State_Transfer</a>
<p>for more information about REST.

<h2>Available Modules</h2>

<table>
<% for l in @links %>
    <% xmlPath = "/" + l.path + ".xml" %>
    <tr>
    <td><%= link_to xmlPath, xmlPath %></td>
    <td><%=h l.description %></td>
    </tr>
<% end %>
</table>

<h2>Documentation</h2>

<a href="doc_config.html">Configuration</a><br />
<a href="doc_interface.html">API documentation</a><br />



