<% name = @service.link -%>
<h3><%= @service.link %></h3>
<%= link_to "commands", :action => @service.link, :id => "commands" %><br/>
<%= link_to "config", :action => @service.link, :id => "config" %><br/>
