Locale (user): <%= @language.language -%><br/>
Locale (root): <%= @language.rootlocale -%><br/>
UTF-8?: <%= @language.utf8 -%><br/>
<p/>
Available:
<ul>
<% @language.available.each do |k,v| -%>
  <li><%= "#{k}: #{v.inspect}" -%></li>
<% end -%>
</ul>
