<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
  "http://www.freedesktop.org/standards/PolicyKit/1.0/policyconfig.dtd">

<policyconfig>
  <vendor>Novell, Inc.</vendor>
  <vendor_url>http://www.novell.com</vendor_url>
  
  <action id="org.opensuse.yast.modules.yapi.users.groupsget">
    <description>Get list of groups.</description>
    <message>System policy prevents the Yast DBus service from reading groups.</message>
    <defaults>
      <allow_inactive>no</allow_inactive>
      <allow_active>no</allow_active>
    </defaults>
  </action>

  <action id="org.opensuse.yast.modules.yapi.users.groupget">
    <description>Get a single groups.</description>
    <message>System policy prevents the Yast DBus service from reading groups.</message>
    <defaults>
      <allow_inactive>no</allow_inactive>
      <allow_active>no</allow_active>
    </defaults>
  </action>

  <action id="org.opensuse.yast.modules.yapi.users.groupadd">
    <description>Create a new group.</description>
    <message>Authentication is required to create a new group.</message>
    <defaults>
      <allow_inactive>no</allow_inactive>
      <allow_active>no</allow_active>
    </defaults>
  </action>

  <action id="org.opensuse.yast.modules.yapi.users.groupmodify">
    <description>Update settings of a group.</description>
    <message>Authentication is required to update group settings.</message>
    <defaults>
      <allow_inactive>no</allow_inactive>
      <allow_active>no</allow_active>
    </defaults>
  </action>

  <action id="org.opensuse.yast.modules.yapi.users.groupdelete">
    <description>Delete a group.</description>
    <message>Authentication is required to delete a group.</message>
    <defaults>
      <allow_inactive>no</allow_inactive>
      <allow_active>no</allow_active>
    </defaults>
  </action>

  <action id="org.opensuse.yast.modules.yapi.users.usersget">
    <description>Get list of users.</description>
    <message>System policy prevents the Yast DBus service from reading users.</message>
    <defaults>
      <allow_inactive>no</allow_inactive>
      <allow_active>no</allow_active>
    </defaults>
  </action>

  <action id="org.opensuse.yast.modules.yapi.users.userget">
    <description>Get the information about given user.</description>
    <message>System policy prevents the Yast DBus service from reading user info.</message>
    <defaults>
      <allow_inactive>no</allow_inactive>
      <allow_active>no</allow_active>
    </defaults>
  </action>

  <action id="org.opensuse.yast.modules.yapi.users.usermodify">
    <description>Update user settings</description>
    <message>Authentication is required to update user settings</message>
    <defaults>
      <allow_inactive>no</allow_inactive>
      <allow_active>no</allow_active>
    </defaults>
  </action>

  <action id="org.opensuse.yast.modules.yapi.users.useradd">
    <description>Add a new user account</description>
    <message>Authentication is required to add a new user account</message>
    <defaults>
      <allow_inactive>no</allow_inactive>
      <allow_active>no</allow_active>
    </defaults>
  </action>

  <action id="org.opensuse.yast.modules.yapi.users.userdelete">
    <description>Delete a new account</description>
    <message>Authentication is required to delete a user account</message>
    <defaults>
      <allow_inactive>no</allow_inactive>
      <allow_active>no</allow_active>
    </defaults>
  </action>
</policyconfig> 

