<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1.0/policyconfig.dtd">
<policyconfig>

  <vendor>YaST Webservice Project</vendor>
  <vendor_url>http://en.opensuse.org/YAST</vendor_url>

<!--
Rights for network
-->

  <action id="org.opensuse.yast.system.network.read">
    <description>Reading network information</description>
    <message>Authentication is required to read network settings</message>
    <defaults>
      <allow_inactive>no</allow_inactive>
      <allow_active>no</allow_active>
    </defaults>
  </action>

  <action id="org.opensuse.yast.system.network.writelimits">
    <description>Writing limits for network information</description>
    <message>Authentication is required to write limits for network settings</message>
    <defaults>
      <allow_inactive>no</allow_inactive>
      <allow_active>no</allow_active>
    </defaults>
  </action>

</policyconfig>

