%span.language-icon
  Language: 
  = session["locale"].to_s.upcase
  %span#lang_menu
    - FastGettext.default_available_locales.each do |locale|
      = link_to(locale.upcase, current_url(:locale=>locale))

-# content_for :head do [ doesn't work here :-( ]
:javascript
  $(document).ready(function() {
    $(".language-icon").hover(function() {
      $("#lang_menu").slideDown("fast");
    },
    function() {
      $("#lang_menu").slideUp("fast");
    });
  });
