<% write_disabled = cannot? :write, Network %>

<fieldset id="vlan-container" class="webyast_fieldset">
  <div id="dns-container-header" class="fieldset_header">
    <span class="fieldset_header_title" >Bond configuration</span>
  </div>

  <div class="fieldset_body">
    BOND FIELDS
  </div>
</fieldset>
