<%#
#--
# Webyast Webclient framework
#
# Copyright (C) 2009, 2010 Novell, Inc. 
#   This library is free software; you can redistribute it and/or modify
# it only under the terms of version 2.1 of the GNU Lesser General Public
# License as published by the Free Software Foundation. 
#
#   This library is distributed in the hope that it will be useful, but WITHOUT
# ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
# FOR A PARTICULAR PURPOSE. See the GNU Lesser General Public License for more 
# details. 
#
#   You should have received a copy of the GNU Lesser General Public
# License along with this library; if not, write to the Free Software 
# Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA
#++
%>
<script type="text/javascript">
$(document).ready(function() {
  $('#details-link').click(function() { $('#backtrace').hide();$(this).next().show();return false; });
});
</script>

<h1><%= _("Cookies disabled ?") %></h1>

<p><%= _("WebYaST tried to establish and save a session in your web browser but failed.") %></p>

<p><%= _('Please enable cookies in your browser and <a href="/session">login again</a>') %></p>

