<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1.0/policyconfig.dtd">
<policyconfig>

  <vendor>YaST Webservice Project</vendor>
  <vendor_url>http://en.opensuse.org/YAST</vendor_url>

<!--
Rights for languages
-->

  <action id="org.opensuse.yast.modules.yapi.language.getlanguages">
    <description>Reading supported languages</description>
    <message>Authentication is required to read supported languages</message>
    <defaults>
      <allow_inactive>no</allow_inactive>
      <allow_active>no</allow_active>
    </defaults>
  </action>
  <action id="org.opensuse.yast.modules.yapi.language.getcurrentlanguage">
    <description>Reading current system language</description>
    <message>Authentication is required to read current system language</message>
    <defaults>
      <allow_inactive>no</allow_inactive>
      <allow_active>no</allow_active>
    </defaults>
  </action>
  <action id="org.opensuse.yast.modules.yapi.language.isutf8">
    <description>Reading if current language is in UTF8 variant</description>
    <message>Authentication is required to check if current system language is in UTF8 variant</message>
    <defaults>
      <allow_inactive>no</allow_inactive>
      <allow_active>no</allow_active>
    </defaults>
  </action>
  <action id="org.opensuse.yast.modules.yapi.language.getrootlang">
    <description>Reading settings for root locale</description>
    <message>Authentication is required to read settings for root locale</message>
    <defaults>
      <allow_inactive>no</allow_inactive>
      <allow_active>no</allow_active>
    </defaults>
  </action>

  <action id="org.opensuse.yast.modules.yapi.language.setcurrentlanguage">
    <description>Set current system language</description>
    <message>Authentication is required to set current system language</message>
    <defaults>
      <allow_inactive>no</allow_inactive>
      <allow_active>no</allow_active>
    </defaults>
  </action>
  <action id="org.opensuse.yast.modules.yapi.language.setutf8">
    <description>Sets if current language is in UTF8 variant</description>
    <message>Authentication is required to set if current system language is in UTF8 variant</message>
    <defaults>
      <allow_inactive>no</allow_inactive>
      <allow_active>no</allow_active>
    </defaults>
  </action>
  <action id="org.opensuse.yast.modules.yapi.language.setrootlang">
    <description>Setting root locale</description>
    <message>Authentication is required to set root locale</message>
    <defaults>
      <allow_inactive>no</allow_inactive>
      <allow_active>no</allow_active>
    </defaults>
  </action>


</policyconfig>