<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
  "http://www.freedesktop.org/standards/PolicyKit/1.0/policyconfig.dtd">

<policyconfig>
  <vendor>Novell, Inc.</vendor>
  <vendor_url>http://www.novell.com</vendor_url>

  <action id="org.opensuse.yast.modules.yapi.mailsettings.read">
    <description>Read system mail settings</description>
    <message>Authentication is required to read mail settings</message>
    <defaults>
      <allow_inactive>no</allow_inactive>
      <allow_active>no</allow_active>
    </defaults>
  </action>
  
  <action id="org.opensuse.yast.modules.yapi.mailsettings.write">
    <description>Update system mail settings</description>
    <message>Authentication is required to update mail settings</message>
    <defaults>
      <allow_inactive>no</allow_inactive>
      <allow_active>no</allow_active>
    </defaults>
  </action>
</policyconfig> 

