// default permissions for "webyast" and "root" users

polkit.addRule(function(action, subject) {
  if ((action.id == "org.opensuse.yast.modules.yapi.example.read"
    || action.id == "org.opensuse.yast.modules.yapi.example.write"
    ) && (subject.user == "webyast" || subject.user == "root"))
  {
    return polkit.Result.YES;
  }
});    

// vim: syntax=javascript
