<% name = @service.link -%>
<h3> <%= name -%> with <%= @service.commands.size -%> commands</h3>
<% @service.commands.each do |f| -%>
<%= link_to "#{f}", service_command_path(name,f), :method =>:put %><br/>
<% end -%>

